body {
    font-family: Arial, sans-serif;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 93%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #aaa;
    border-radius: 36px;
}

button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 36px;
    cursor: pointer;
}

button:hover {
    background: #444;
}

.link {
    text-align: center;
    margin-top: 10px;
}
.fill-box {
     
}
p{
    margin: 0;
}
