body {
    font-family: Arial;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 350px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
   
}

h2 {
    text-align: center;
}

label {
    margin-top: 12px;
    font-weight: bold;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    margin-top: 18px;
    padding: 12px;
    background: #2196f3;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0b7dda;
}

.reg-text {
    text-align: center;
    margin-top: 15px;
}

#loginMsg, #regMsg {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
